<ul class="sg-colors">
		<li>
		<span class="sg-swatch color-brand-blue"></span>
		<span class="sg-label">
			$color-brand-blue <br />
			#049FD9
		</span>
	</li>
	<li>
		<span class="sg-swatch color-brand-gray-dark"></span>
		<span class="sg-label">
			$color-brand-gray-dark <br />
			#58585b
		</span>
	</li>
</ul>
