<ul class="sg-colors">
	<li>
		<span class="sg-swatch color-utility-positive"></span>
		<span class="sg-label">
            $color-utility-positive <br />
            #149946
        </span>
	</li>
	<li>
		<span class="sg-swatch color-utility-postitive-subtle"></span>
		<span class="sg-label">
			$color-utility-positive-subtle <br />
			#52B878
		</span>
	</li>
	<li>
		<span class="sg-swatch color-utility-caution"></span>
		<span class="sg-label">
			$color-utility-caution <br />
			#ffb600
		</span>
	</li>
	<li>
		<span class="sg-swatch color-utility-caution-subtle"></span>
		<span class="sg-label">
			$color-utility-caution-subtle <br />
			#FFD161
		</span>
	</li>
	<li>
		<span class="sg-swatch color-utility-major"></span>
		<span class="sg-label">
			$color-utility-major <br />
			#ff8500
		</span>
	</li>
	<li>
		<span class="sg-swatch color-utility-major-subtle"></span>
		<span class="sg-label">
			$color-utility-major-subtle <br />
			#FFB361
		</span>
	</li>
	<li>
		<span class="sg-swatch color-utility-negative"></span>
		<span class="sg-label">
			$color-utility-negative <br />
			#ff2c00
		</span>
	</li>
	<li>
		<span class="sg-swatch color-utility-negative-subtle"></span>
		<span class="sg-label">
			$color-utility-negative-subtle <br />
			#FF7C61
		</span>
	</li>
	<li>
		<span class="sg-swatch color-utility-neutral"></span>
		<span class="sg-label">
			$color-utility-neutral <br />
			#0B4BDE
		</span>
	</li>
	<li>
		<span class="sg-swatch color-utility-neutral-subtle"></span>
		<span class="sg-label">
			$color-utility-neutral-subtle <br />
			#4C78DC
		</span>
	</li>
</ul>
