<p>Basic</p>
<progress class="c-progress color-utility-neutral" max="100" value="0">
</progress>
<br />
<progress class="c-progress color-utility-neutral" max="{{ max }}" value="{{ progressValue }}">
</progress>
<br />
<progress class="c-progress color-utility-positive" max="100" value="90">
</progress>
<br />
<progress class="c-progress color-utility-negative" max="100" value="25">
</progress>
