<div>
  Default (empty)<br/>
  <progress class="c-progress color-utility-neutral" max="100" value="0"></progress>
</div>
<br />
<div>
  Default<br/>
  <progress class="c-progress color-utility-neutral" max="{{ max }}" value="{{ progressValue }}"></progress>
</div>
<br />
<div>
  Positive<br/>
  <progress class="c-progress color-utility-positive" max="100" value="90"></progress>
</div>
<br />
<div>
  Negative<br/>
  <progress class="c-progress color-utility-negative" max="100" value="25"></progress>
</div>
