<div>
  Default<br/>
	<div class="loader"></div>
</div>
<br/>
<div>
	Small<br />
	<div class="loader loader-small"></div>
</div>
<br/>
<div>
	Large<br />
	<div class="loader loader-large"></div>
</div>
