<div>
  Default<br/>
  <button class="c-btn c-btn--default">{{ btnText }}</button>
  <button class="c-btn c-btn--default hover-state">Hover</button>
  <button class="c-btn c-btn--default active-state">Active</button>
  <button class="c-btn c-btn--default disabled-state">Disabled</button>
</div>
<br/>
<div>
  Primary<br/>
  <button class="c-btn c-btn--primary">{{ btnText }}</button>
  <button class="c-btn c-btn--primary hover-state">Hover</button>
  <button class="c-btn c-btn--primary active-state">Active</button>
  <button class="c-btn c-btn--primary disabled-state">Disabled</button>
</div>
<br/>
<div>
  Negative<br/>
  <button class="c-btn c-btn--negative">{{ btnText }}</button>
  <button class="c-btn c-btn--negative hover-state">Hover</button>
  <button class="c-btn c-btn--negative active-state">Active</button>
  <button class="c-btn c-btn--negative disabled-state">Disabled</button>
</div>
<br/>
<div>
  Positive<br/>
  <button class="c-btn c-btn--positive">{{ btnText }}</button>
  <button class="c-btn c-btn--positive hover-state">Hover</button>
  <button class="c-btn c-btn--positive active-state">Active</button>
  <button class="c-btn c-btn--positive disabled-state">Disabled</button>
</div>
