<div>
  <button class="c-btn c-btn--expand c-btn--default">Default</button><br/><br/>
  <button class="c-btn c-btn--expand c-btn-small c-btn--default">Small</button><br/><br/>
  <button class="c-btn c-btn--expand c-btn-large c-btn--default">Large</button>
</div>
