<div>
  Default<br/><button class="c-btn {{ btnClass }}">{{ btnText }}</button>
</div>
<div>
  Primary<br/><button class="c-btn c-btn--primary">{{ btnText }}</button>
</div>
<div>
  Negative<br/><button class="c-btn c-btn--negative">{{ btnText }}</button>
</div>
