<div class="dropdown">
  <select>
    <optgroup label="Select Option">
      <option>Option One </option>
      <option>Option Two </option>
      <option>Option Three </option>
    </optgroup>
  </select>
</div>
