<div>
  <input type="checkbox" id="cb-1">
  <label for="cb-1">Unchecked</label>
  <br />
  <input type="checkbox" id="cb-2" checked="checked">
  <label for="cb-2">Checked</label>
  <br />
  <input type="checkbox" id="cb-3" disabled="disabled">
  <label for="cb-3">Disabled and Unchecked</label>
  <br />
  <input type="checkbox" id="cb-4" checked="checked" disabled="disabled">
  <label for="cb-4">Disabled and Checked</label>
  <br />
</div>
