<label class="switch">
  <input type="checkbox">
  <div class="slider round"></div>
</label><label>Unchecked</label>
<br />
<label class="switch">
  <input type="checkbox" checked="checked">
  <div class="slider round"></div>
</label><label>Checked</label>
<br />
<label class="switch">
  <input type="checkbox" disabled="disabled">
  <div class="slider round"></div>
</label><label>Disabled and Unchecked</label>
<br />
<label class="switch">
  <input type="checkbox" checked="checked" disabled="disabled">
  <div class="slider round"></div>
</label><label>Disabled and Checked</label>
